body { 
    background-color: rgb(212, 195, 184);
}

h1 {
    font-family: 'Nexa Script Light', sans-serif;
    color: rgb(206, 119, 119);
}

h2 {
    font-family: 'Teddy Bear', sans-serif;
    color: rgb(134, 115, 179);
}

.fbig {
    font-size: 30px;
}

@font-face {
	font-family: 'Teddy Bear';
	src: url('../fonts/teddy_bear.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/teddy_bear.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/teddy_bear.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/teddy_bear.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/teddy_bear.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/teddy_bear.svg#teddy_bear') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Nexa Script Light';
	src: url('../fonts/nexa_script_light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/nexa_script_light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/nexa_script_light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/nexa_script_light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/nexa_script_light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/nexa_script_light.svg#nexa_script_light') format('svg'); /* Chrome < 4, Legacy iOS */
}

ul {
    list-style-type: square;
}

.width_min {
    width: 450px;
}

.width_max {
    width: 500px;
}